 .toc ul {
    list-style-type: none;
    padding: 0;
    margin-right: 10;
    margin-top: 10;
    width: 100%;
  }
  
  .toc ul>li {
    display: table;
    margin-bottom: 0.2em;
    font-size: medium;
  }
  
  .toc ul>li:before {
    display: table-cell;
    padding-right: 0.1em;
  }
  .toc li{
    width: 100% !important;
  }
  .toc ul>li>li {
    margin: 15px;
  }

  .toc li {
    text-align: left; 
  }

  .toc  a {
    display: block;
    padding: 6px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    width: 100% !important;
  }

  .toc a:hover {
    text-decoration: none !important;
    background-color: #ccc;
  }
  .toc ul ul {
    padding-left: 20px;
  }
  .toc {
    margin-left: 0;
  }
 .toc a:active {
    background:#0969da;
  }
  .toc > li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .toc > li:last-child {
    border-bottom: none;
  }

  
  